.sr-layout-main-sider-theme {
  --sr-border-color: #2e2e32;

  overflow: auto;
  border-right: 1px solid #eee;
  width: 228px;
  padding: 14px;
  box-sizing: border-box;
}

.dark .sr-layout-main-sider-theme {
  border-right-color: var(--sr-border-color) ;
}